body {
  font-family: Calibri;
  font-size: 1em;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #59AAD3
}

h1,
h2,
h3 {
  font-size: 1.2em;
  color: #d13146
}


p {
  padding: 0px;
  margin: 0px;
}



.responsive {
  width: 100%;
  height: auto;
}


.contenedor-presentacion {
  width: 100%;
  height: 100vh;
  background-color: #c0c0c057;
  overflow: hidden;
}



.contenedor-bienvenida {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.contenido-actividad-bienvenida {
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  padding: 12px;
  opacity: 0.9;
  background-blend-mode: hard-light;
  display: flex;
  animation: slideDown 3s;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-image: url(../assets/img/fondo.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  width: 206px;
  display: inline-block;
  /*  outline: 1px solid #009b7f;
  outline-offset: 2px; */
  text-decoration: none;
  text-align: center;
  padding: 6px 0px;
  border: solid 2px #210540;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #c73bbb;
  background-image: -moz-linear-gradient(top, #c73bbb 0%, #7e22c9 100%);
  background-image: -webkit-linear-gradient(top, #c73bbb 0%, #7e22c9 100%);
  background-image: -o-linear-gradient(top, #c73bbb 0%, #7e22c9 100%);
  background-image: -ms-linear-gradient(top, #c73bbb 0%, #7e22c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e22c9', endColorstr='#7e22c9', GradientType=0);
  background-image: linear-gradient(top, #c73bbb 0%, #7e22c9 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  /*   margin: 23px auto; */
  cursor: pointer
}

.button:hover {
  width: 206px;
  display: inline-block;
  margin: 0px auto;
  padding: 6px 0px;
  border: solid 2px #210540;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #d954ce;
  background-image: -moz-linear-gradient(top, #d954ce 0%, #7e22c9 100%);
  background-image: -webkit-linear-gradient(top, #d954ce 0%, #7e22c9 100%);
  background-image: -o-linear-gradient(top, #d954ce 0%, #7e22c9 100%);
  background-image: -ms-linear-gradient(top, #d954ce 0%, #7e22c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e22c9', endColorstr='#7e22c9', GradientType=0);
  background-image: linear-gradient(top, #d954ce 0%, #7e22c9 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}


.texto-bienvenida {
  width: 50vw;
  text-align: center;
  display: flex;
  height: 49vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: white;
  padding: 32px;
  margin-bottom: 12px;
  border: 4px #c73bbb double;
  grid-gap: 24px;
}

.contenedor-boton-bienvenida {
  text-align: center;
  width: 50%;
  margin: 0px auto
}

.contenedor-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */



}



/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  h1 {
    font-size: 1.3em
  }

  body {
    font-size: 0.8em
  }



  .texto-bienvenida {
    width: 61vw;
    padding: 32px;
    margin-bottom: 12px;
    border: 4px #c73bbb double;
    grid-gap: 0px;
    height:57vh
  }

  .responsive {
    width: 80%;
    height: auto;
  }

  .contenedor-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }


}

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

  h1 {
    font-size: 1.3em
  }

  body {
    font-size: 0.8em
  }



  .texto-bienvenida {
    width: 61vw;
    padding: 32px;
    margin-bottom: 12px;
    border: 4px #c73bbb double;
    grid-gap: 0px;
  }

  .contenedor-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }

}

@media only screen and (max-width: 600px) {

    h1 {
    font-size: 1.2em
  }

  body {
    font-size: 0.8em
  }


  .contenido-actividad-bienvenida {
    height: 100vh;
    width: auto;
    flex-direction: column;
    overflow: hidden;
  }




  .contenedor-bienvenida {
    margin-top: 9%
  }

  .texto-bienvenida {
    width: fit-content;
    height: 68vh;
    text-align: center;
  }


  .titulo-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    align-content: center;
  }





  .contenedor-imagen-actividad {
    overflow: scroll;
  }



  .contenedor-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }




}



@media (min-width: 320px) and (max-width: 480px) {

  h1 {
    font-size: 1.2em
  }

  body {
    font-size: 0.8em
  }


  .contenedor-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }

  .contenedor-imagen-actividad {
    flex-direction: column;
  }

  .contenedor-bienvenida {
    width: 100%;
  }

}